.Achievements{
    padding: 0% 10% 0% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Achievements_Image{
    width: 7%;
}

.Achievements_ImageLove{
    width: 10%;
}

