.Navbar_position{
    margin: auto;
    width: 100%;
    position: fixed;
    padding: 1% 10% 1% 10%;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
}

.logo{
    width: 8rem;
    display: flex;
    gap: 0.5rem;
}

.logo_part{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.logo_part > img{
    width: 9rem;
    height: 1.1rem;
    border-radius: 0.2rem;
    border: 1px solid white;
    box-shadow: 3px 3px 3px 0 rgb(0 17 65 / 15%);
    margin-bottom: 5px;
}

.navbar_content{
    display: flex;
    align-items:baseline;
    font-size: 15.84px;
    gap: 1rem;
    margin-bottom: -1.5rem;
}

.menuStyle{
    font-size : 15.85px;
    font-weight : 600
}

.menuStyle:hover{
    color: #9b72da;
}

.submenu:hover{
    color: #9b72da;
}

.getStartedBtn{
    color: white;
}

.getStartedBtn:hover{
    box-shadow: rgb(0, 48, 0) 2px 0px 0px 2px inset;
    color: #001141;
}

.new_feature{
    color: red;
    font-weight: 600;
    margin-left: 65px;
}

@media screen and (max-width : 1310px){

.navbar_content{
    gap:0.75rem
}

.submenu{
    font-size:13px;
}

  .menuStyle{
    font-size: 13px;
    font-weight: 600;
  }
}

@media screen and (max-width : 1180px){

    .navbar_content{
        gap:0.3rem
    }

    .submenu{
        font-size:12px;
    }

    .menuStyle{
      font-size: 12px;
      font-weight: 600;
    }
  }

  @media screen and (max-width : 1060px){

    .menuStyle{
      font-size: 10.5px;
    }
  }

  @media screen and (max-width : 490px) {
    
  .CompNav_GettingStartedButton{
    width: 100%;
  }

  }