.LoginPage_MainBox{
    padding: 3% 10% 0% 10%;
}

.LoginPage_ToHomeLogo{
    margin: auto;
    width: 3.3%;
    border-radius: 10px;
    margin-bottom: 4%;
}

.LoginPage_Heading{
    font-size: 2.8rem;
    font-weight: 600;
    color: #343a3f;
    margin-bottom: 5%;
}

.LoginPage_Box2{
    display: flex;
}

.LoginPage_Box2Heading{
    color: #64657e;
    font-size: 25px;
    font-weight: 600;
}

.LoginPage_Box2_1{
    padding: 3% 7% 0% 7%;
    color: #64657e;
}

.LoginPage_CopyrightText{
    margin:auto;
    font-size:13px;
    margin-top:10px;
    margin-bottom:10px;
    color: #64657e;
    font-weight: 600;
}

@media screen and (max-width : 1150px) {

    .LoginPage_ToHomeLogo{
        width: 3.5%;
    }

    .LoginPage_Box2_1{
        padding: 3%;
    }
    
}

@media screen and (max-width : 990px) {

    .LoginPage_ToHomeLogo{
        width: 5%;
    }

    .LoginPage_Box2{
        display: block;
    }

    .LoginPage_Box2_1{
       margin: auto;
    }
    
}